<section class="container mx-auto p-4">
    <h1 class="text-2xl font-semibold mb-4">Mes Contacts</h1>
    <button routerLink="/create" > Ajouter</button>
    <div class="mb-4">
        <input
          type="text"
          class="border border-gray-300 px-4 py-2 w-full"
          placeholder="Rechercher un contact..."
          [(ngModel)]="searchText"
          (input)="filterContacts()"
        />
      </div>
      
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nom</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Prénom</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Email</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Téléphone</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">User</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">date</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">État</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <tr *ngFor="let contact of filteredContacts">
          <td class="px-6 py-4 whitespace-nowrap">{{ contact.nom }}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{ contact.prenom }}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{ contact.email }}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{ contact.telephone }}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{ contact.createdBy }}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{ contact.createdAt | date }}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{ contact.etat }}</td>
          <td class="px-6 py-4 whitespace-nowrap">
            <!-- <button class="text-blue-500 hover:text-blue-700" (click)="editContact(contact)">Modifier</button> -->
            <button class="text-red-500 hover:text-red-700 ml-2" (click)="softDeleteContact(contact.id)">Supprimer</button>
          </td>
        </tr>
      </tbody>
      
      
    </table>
        <button (click)="logout()">Déconnexion</button>

  </section>
  